#time{
  display: inline-block;
  font-size: 30px;
  margin: 30px 10px;
  font-weight: 500;
}

#start{
  display: inline-block;
  background-color: gray;
  border: 1px solid black;
}

#stop{
  display: inline-block;
  background-color: gray;
  border: 1px solid black;
}

#reset{
  display: inline-block;
  background-color: gray;
  border: 1px solid black;
}